:root {
    --fontWhite: #f2f2f2;
    --bgBlack: #3c3c3c;
    --colorA1: #FBC02D;
    --colorA2: #FDD835;
    --colorB1: #2196F3;
    --colorB2: #03A9F4;
    --colorC1: #EC407A;
    --colorC2: #F06292;
    --colorD1: #7E57C2;
    --colorD2: #9575CD;
}

h1 {
    color: var(--fontWhite);
    margin-top: 18px;
    margin-bottom: 0px;
}

body {
    background: var(--bgBlack);
}

.grid-stack {
    margin: 0 auto;
}

.grid-stack-item-content {
    text-align: center;
}

.icon {
    height: 80%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#temp,
#humi {
    position: relative;
    top: 10%;
    color: var(--fontWhite);
}

#cal {
    position: relative;
    top: 15%;
    color: var(--fontWhite);
}

/* font size */
.dataP {
    font-size: 5.5vw;
    margin: 0;
}

.timeP {
    font-size: 1.5vw;
    margin-bottom: 0;
}

#cal>p {
    font-size: 2.5vw;
}

/* max font size */
@media screen and (min-width: 1200px) {
    .dataP {
        font-size: 66px;
    }
    .timeP {
        font-size: 18px;
    }
}

/* one column mode font size */
.grid-stack.grid-stack-one-column-mode>.grid-stack-item>.grid-stack-item-content>.content-down>div>.dataP {
    font-size: 8vh!important;
}

.grid-stack.grid-stack-one-column-mode>.grid-stack-item>.grid-stack-item-content>.content-down>div>.timeP {
    font-size: 3vh!important;
}

.grid-stack.grid-stack-one-column-mode>.grid-stack-item>.grid-stack-item-content>.content-down>#cal>p {
    font-size: 6vh!important;
}

/* block style */
.content-up {
    height: 45%;
    position: relative;
}

.content-down {
    height: 55%;
}

/* block color */
.grid-stack-item-A1 {
    background-color: var(--colorA1);
}

.grid-stack-item-A2 {
    background-color: var(--colorA2);
}

.grid-stack-item-B1 {
    background-color: var(--colorB1);
}

.grid-stack-item-B2 {
    background-color: var(--colorB2);
}

.grid-stack-item-C1 {
    background-color: var(--colorC1);
}

.grid-stack-item-C2 {
    background-color: var(--colorC2);
}

.grid-stack-item-D1 {
    background-color: var(--colorD1);
}

.grid-stack-item-D2 {
    background-color: var(--colorD2);
}
