header {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    font: bold 20px arial;
}

header>div>img {
    height: 70vh;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    text-align: center;
    margin: 5px auto;
}

footer {
    text-align: center;
    margin: 10px auto auto 20px;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
    margin: 5px auto;
}

h1 span {
    color: #167F92;
}
