section {
    display: block;
    padding: 3px;
    margin: 3px;
    text-align: center;
    vertical-align: text-top;
}

#hint {
    color: red;
    display: block;
}

label {
    display: inline-block;
    vertical-align: text-top;
    padding: 5px;
    margin: 3px;
}

input {
    display: inline-block;
    vertical-align: text-top;
    padding: 5px;
    margin: 3px;
    width: 15em;
}

footer {
    text-align: center;
}

body {
    color: #024457;
    background: #f2f2f2;
}
